<div ng-app="myApp" ng-controller="myCtrl">
    <h1>Manage your files!</h1>

<div style="border:solid red 2px;">
    <div class="row">
    @using (Html.BeginForm("Post", "Files", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-10">
                    @Html.Label("FileName", new { @class = "control-label col-md-2" })
                    <input type="text" id="FileName" name="filename" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    @Html.Label("Blake", new { @class = "control-label col-md-2" })
                    <input type="file" id="Blake" name="upload" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    </div>
    </div>

    <div style="border:solid grey 1px; margin:25px, 0; margin-bottom:25px; padding:15px;">
        <h3>View Your Files</h3>
        <select ng-model='selectedFile' ng-options='file for file in files'></select>
        <div>
            <h3>
              <a target="_self" href="http://localhost:27516/files/{{selectedFile | encodeURIComponent}}" download="{{selectedFile.name}}">Download Selected File</a>
            </h3>
        </div>
    </div>
    
    <div  style="border:solid grey 1px; margin:25px, 0; padding:15px;">
        <h3>Upload A New File</h3>
        <input type="file" id="file" name="file" />
        <br>
        <button ng-click="addFile()">Upload File</button>
    </div>

    <script>
        var myApp = angular.module('myApp', []);

        myApp.filter('encodeURIComponent', function () {
            return window.encodeURIComponent;
        });

    myApp.controller('myCtrl', function ($scope, $http) {

        //get file list
        $http.get("http://localhost:27516/Files")
                .then(function (response) {
                    console.log(response.data);
                    $scope.files = response.data;
                });

        uploadUrl = "http://localhost:27516/files/post?name="
        $scope.data = 'none';

        //upload a file
        $scope.addFile = function () {
            var f = document.getElementById('file').files[0],
                    r = new FileReader();
            r.onloadend = function (e) {
                $scope.data = e.target.result;
            }
            uploadUrl += encodeURIComponent(document.getElementById('file').files[0].name);
            console.log(uploadUrl);
            r.readAsBinaryString(f);

            $http.post(uploadUrl, r, {
                transformRequest: angular.identity,
                headers: {'Content-Type': undefined}
            })

                    .success(function(){
                        alert('success');
                    })

                    .error(function(){
                        alert('error');
                    });
        }
      })
    </script>
</div>
