<div class="jumbotron">
  <h1>Blake HEART Matt</h1>
</div>
<div class="row">
  @using (Html.BeginForm("Post", "Files", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
  {
    <div class="form-horizontal">
      <div class="form-group">
        <div class="col-md-10">
          @Html.Label("FileName", new { @class = "control-label col-md-2" })
          <input type="text" id="FileName" name="filename" />
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-10">
          @Html.Label("Blake", new { @class = "control-label col-md-2" })
          <input type="file" id="Blake" name="upload" />
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
          <input type="submit" value="Save" class="btn btn-default" />
        </div>
      </div>
    </div>
  }
</div>